@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* share style */
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}
.text-grey-style {
    color: #727272;
}
.section-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}

/* header */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner */
.bannr-content{
    max-width: 800px;
   text-align: center;
    margin: 0 auto;
}

.bannr-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    align-items: center;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}






/* main style */
main {
    max-width: 1440px;
    margin: 70px auto;

}

/* teams section */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .text-grey-style  {
    
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
/* feature */
.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-image img{
    margin-left: 90px;
    height: 90%;
}
.ten-year-bach{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
padding: 40px;
text-align: center;
position: relative;
bottom: 100px;
}
.ten-year-bach h2{
    color: #FFF;
font-size:4rem;
margin: 0;
}
.ten-year-bach p{
    color: #FFF;
font-size: 1.5rem;
font-weight: 500;
line-height: 40px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
   padding-left:  20px;
}

/* facts */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
 .facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 40px 30px;
}
.facts-card-container .card-stats{
    color:  #424242;
font-size: 2.8rem;
margin-top: 10px;
margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-size: 1.25rem;
font-weight: 600;
margin-top: 5px;
}
/* sponsors */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;


}












/* responsive media quiry */

/* mobile */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container, 
    .sponsors-img-container
    
    {
        flex-direction: column;
    }
    .features img{
        width: 100%;
        margin-left: 0;
    }
    .ten-year-bach{
        position: static;
        max-width: 300px;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container  {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        
        gap: 20px;
    }
    

    

}

/* medium device  */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .features,
    .sponsors-img-container
     {
        flex-direction: column;
    }
}